@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>SITIO COMICS EN .NET CORE PUBLICADO EN AZURE APP SERVICE. DEV JOSE CASCANTE V 1.0.1</a>.</p>
</div>
